<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.glen.mapper.AccountMapper">

	<resultMap type="com.glen.model.Account" id="accountResultMap">
		<id property="accountId" column="account_id" />
		<result property="username" column="username" />
		<result property="password" column="password" />
		<result property="createTime" column="create_time" />
	</resultMap>


	<!-- 自动生成id策略 -->
	<insert id="add" useGeneratedKeys="true" keyProperty="id"
		parameterType="com.glen.model.User">
		< insert into t_user(id,name, age)
		values(#{id,jdbcType=BIGINT}, #{name}, #{age})
		<!--将最后插入的逐渐返回到java对象 -->
		<selectKey resultType="int" keyProperty="id">
			SELECT LAST_INSERT_ID()
			<</selectKey>
	 </insert>



		<!-- 通过主键集合批量删除记录 -->
		<delete id="batchRemoveUserByPks" parameterType="java.util.List">
			DELETE FROM T_USER WHERE ID in
			<foreach item="item" index="index" collection="list" open="("
				separator="," close=")">
				#{item}
			</foreach>
		</delete>


		<!-- 通过主键集合批量删除记录 -->
		<delete id="batchGetUserByPks" parameterType="java.util.List">
			select * from t_user
			<foreach item="item" index="index" collection="list" open="("
				separator="," close=")">
				#{item}
			</foreach>
		</delete>


</mapper> 