<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties>
		<property name="username" value="root" />
		<property name="password" value="root" />
		<property name="url" value="jdbc:sqlite://D:\HWTest" />
		<property name="driver" value="org.sqlite.JDBC" />
	</properties>
	<typeAliases>
		<typeAlias alias="Student" type="com.huawei.support.mybatis3.model.Student" />
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
				<property name="poolMaximumActiveConnections" value="10" />
				<property name="poolMaximumIdleConnections" value="3" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/huawei/support/mybatis3/mapper/StudentMapper.xml" />
	</mappers>
</configuration>