<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.mapper.I18nMapper">
  <resultMap id="BaseResultMap" type="com.mybatis.model.I18n">
    <result column="langkey" jdbcType="VARCHAR" property="langkey" />
    <result column="langtype" jdbcType="VARCHAR" property="langtype" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="lastupdatetime" jdbcType="TIMESTAMP" property="lastupdatetime" />
    <result column="lastupdatetype" jdbcType="VARCHAR" property="lastupdatetype" />
    <result column="domain" jdbcType="VARCHAR" property="domain" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    langkey, langtype, content, createtime, lastupdatetime, lastupdatetype, domain
  </sql>
  <select id="selectByExample" parameterType="com.mybatis.model.I18nExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_i18n
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.mybatis.model.I18nExample">
    delete from t_i18n
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mybatis.model.I18n">
    insert into t_i18n (langkey, langtype, content, 
      createtime, lastupdatetime, lastupdatetype, 
      domain)
    values (#{langkey,jdbcType=VARCHAR}, #{langtype,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{lastupdatetime,jdbcType=TIMESTAMP}, #{lastupdatetype,jdbcType=VARCHAR}, 
      #{domain,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mybatis.model.I18n">
    insert into t_i18n
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="langkey != null">
        langkey,
      </if>
      <if test="langtype != null">
        langtype,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="lastupdatetime != null">
        lastupdatetime,
      </if>
      <if test="lastupdatetype != null">
        lastupdatetype,
      </if>
      <if test="domain != null">
        domain,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="langkey != null">
        #{langkey,jdbcType=VARCHAR},
      </if>
      <if test="langtype != null">
        #{langtype,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastupdatetime != null">
        #{lastupdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastupdatetype != null">
        #{lastupdatetype,jdbcType=VARCHAR},
      </if>
      <if test="domain != null">
        #{domain,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mybatis.model.I18nExample" resultType="java.lang.Integer">
    select count(*) from t_i18n
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_i18n
    <set>
      <if test="record.langkey != null">
        langkey = #{record.langkey,jdbcType=VARCHAR},
      </if>
      <if test="record.langtype != null">
        langtype = #{record.langtype,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null">
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastupdatetime != null">
        lastupdatetime = #{record.lastupdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastupdatetype != null">
        lastupdatetype = #{record.lastupdatetype,jdbcType=VARCHAR},
      </if>
      <if test="record.domain != null">
        domain = #{record.domain,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_i18n
    set langkey = #{record.langkey,jdbcType=VARCHAR},
      langtype = #{record.langtype,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      lastupdatetime = #{record.lastupdatetime,jdbcType=TIMESTAMP},
      lastupdatetype = #{record.lastupdatetype,jdbcType=VARCHAR},
      domain = #{record.domain,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
    </update>
</mapper>