<?xml version="1.0" encoding="UTF-8"?>
<web_1:web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web_1="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>mybatis</display-name>
  <web_1:context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:spring.xml,classpath:spring-mybatis.xml</param-value>
  </web_1:context-param>
  <web_1:filter>
    <web_1:filter-name>sessionFilter</web_1:filter-name>
    <web_1:filter-class>com.github.support.filter.SessionFilter</web_1:filter-class>
  </web_1:filter>
  <web_1:filter-mapping>
    <web_1:filter-name>sessionFilter</web_1:filter-name>
    <web_1:url-pattern>/*</web_1:url-pattern>
  </web_1:filter-mapping>
  <web_1:filter>
    <description>字符集过滤器</description>
    <web_1:filter-name>encodingFilter</web_1:filter-name>
    <web_1:filter-class>org.springframework.web.filter.CharacterEncodingFilter</web_1:filter-class>
    <web_1:init-param>
      <description>字符集编码</description>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </web_1:init-param>
  </web_1:filter>
  <web_1:filter-mapping>
    <web_1:filter-name>encodingFilter</web_1:filter-name>
    <web_1:url-pattern>/*</web_1:url-pattern>
  </web_1:filter-mapping>
  <web_1:listener>
    <description>spring监听器</description>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </web_1:listener>
  <web_1:listener>
    <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
  </web_1:listener>
  <web_1:servlet>
    <description>spring mvc servlet</description>
    <web_1:servlet-name>springmvc</web_1:servlet-name>
    <web_1:servlet-class>org.springframework.web.servlet.DispatcherServlet</web_1:servlet-class>
    <web_1:init-param>
      <description>spring mvc 配置文件</description>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring-mvc.xml</param-value>
    </web_1:init-param>
    <web_1:load-on-startup>1</web_1:load-on-startup>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>springmvc</web_1:servlet-name>
    <web_1:url-pattern>*.do</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:welcome-file-list>
    <web_1:welcome-file>/index.jsp</web_1:welcome-file>
    <web_1:welcome-file>dateConvert.jsp</web_1:welcome-file>
  </web_1:welcome-file-list>
  <web_1:session-config>
    <web_1:session-timeout>15</web_1:session-timeout>
  </web_1:session-config>
  <web_1:servlet>
    <web_1:servlet-name>helloworld</web_1:servlet-name>
    <web_1:servlet-class>com.github.support.servlet.SimpleHello</web_1:servlet-class>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>helloworld</web_1:servlet-name>
    <web_1:url-pattern>/SimpleHello</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:jsp-config>
    <taglib>
      <taglib-uri>/dateConvert</taglib-uri>
      <taglib-location>dateConvert.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/I18nTag</taglib-uri>
      <taglib-location>I18nTag.tld</taglib-location>
    </taglib>
  </web_1:jsp-config>
</web_1:web-app>