<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/jee 
		http://www.springframework.org/schema/jee/spring-jee-3.1.xsd
		http://code.alibabatech.com/schema/dubbo 
		http://code.alibabatech.com/schema/dubbo/dubbo.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.3.xsd" default-lazy-init="false">

	<!-- 使用dubbo发布服务 -->
	<!-- 提供方应用信息，用于计算依赖关系 -->
	<dubbo:application name="dubbo_provider" />
	<dubbo:registry protocol="zookeeper" address="192.168.26.134:2181" check="false" subscribe="false" register="" />
	
	<!-- 用dubbo协议在20880端口暴露服务 -->
	<dubbo:protocol name="dubbo" port="20880" />
	
	
	
	<!-- 声明需要暴露的服务接口 -->
	<dubbo:service interface="com.github.support.api.TestRegistryService" ref="testRegistryService" timeout="600000" />      

<!-- 消费者方的spring配置 -->
<!-- <dubbo:application name="consumer"/> -->
<!-- <dubbo:registry protocol="zookeeper" address="192.168.25.137:2181"/>	 -->
<!-- <dubbo:reference interface="cn.XXX.service.ItemService" id="itemService" /> -->
<!-- <dubbo:reference interface="com.github.support.api.TestRegistryService" id="testRegistryService" /> -->


</beans>