<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.3.xsd
         http://www.springframework.org/schema/mvc  
        http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">
    <context:component-scan base-package="com.github.support.*" />
    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.StringHttpMessageConverter" />
            <bean
                class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter" />
        </mvc:message-converters>
    </mvc:annotation-driven>
    <mvc:default-servlet-handler />
    <mvc:resources mapping="/3rd/**" location="/WEB-INF/3rd/" />
    <!-- 登录拦截器 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <!--设置拦截范围 -->
            <mvc:mapping path="/user/login/**" />
            <bean class="com.github.support.intercepters.LoginInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>
    <!-- <bean -->
    <!-- class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver"> -->
    <!-- <property name="order" value="1" /> -->
    <!-- <property name="ignoreAcceptHeader" value="true" /> -->
    <!-- <property name="mediaTypes"> -->
    <!-- <map> -->
    <!-- <entry key="json" value="application/json;charset=UTF-8" /> -->
    <!-- <entry key="xml" value="application/xml;charset=UTF-8" /> -->
    <!-- <entry key="rss" value="application/rss+xml;charset=UTF-8" /> -->
    <!-- </map> -->
    <!-- </property> -->
    <!-- <property name="defaultViews"> -->
    <!-- <list> -->
    <!-- </list> -->
    <!-- </property> -->
    <!-- </bean> -->
    <!-- <bean id="velocityConfig" -->
    <!-- class="org.springframework.web.servlet.view.velocity.VelocityConfigurer"> -->
    <!-- <property name="resourceLoaderPath" value="/WEB-INF" /> -->
    <!-- <property name="configLocation" value="classpath:velocity.properties" /> -->
    <!-- </bean> -->
    <!-- <bean id="viewResolver" -->
    <!-- class="org.springframework.web.servlet.view.velocity.VelocityViewResolver"> -->
    <!-- <property name="order" value="2"/> -->
    <!-- <property name="suffix" value=".vm" /> -->
    <!-- <property name="prefix" value="/"/> -->
    <!-- <property name="exposeSpringMacroHelpers" value="true"/> -->
    <!-- <property name="requestContextAttribute" value="rc"/> -->
    <!-- <property name="contentType" value="text/html;charset=UTF-8" /> -->
    <!-- </bean> -->
    <bean id="viewResolver"
        class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>
</beans>