<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="userInfoMapper">
	
	
	<sql id="Base_Column_List2">
    	USER_ID,USER_NAME,PASSWORD,MOBILE_NO,NICK_NAME,USER_PIC,EMAIL,CREATE_TIME
  	</sql>
	
	<select id="selectByUserId" parameterType="java.lang.String" resultType="userInfo">
		select 
		USER_ID as userId,
		USER_NAME as userName,
		PASSWORD as password,
		MOBILE_NO as mobileNo,
		NICK_NAME as nickName,
		USER_PIC as userPic,
		EMAIL as email,
		CREATE_TIME as createTime
		from TEST.T_USER_INFO 
		where USER_ID = #{userId,jdbcType=VARCHAR}
	</select>
	
	<update id="updateImgByUserId" parameterType="com.bolo.examples.base.vo.UserRegist">
		update TEST.T_USER_INFO
	    set USER_PIC = #{memberImg,jdbcType=VARCHAR}
	    where USER_ID = #{memberId,jdbcType=VARCHAR}
	</update>
</mapper>